html, button, textarea, input {
    font-size: 1em;
}

html, button {    
    font-family: serif;
}

textarea, input {
    font-family: monospace;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

a:link:active,
a:visited:active {
    color: #FF0000;
}

textarea,
input {
    margin-bottom: 8px;
}

textarea {
    vertical-align: bottom;
}



/* @media (prefers-color-scheme: dark) {
    html, textarea, button, input {
        color: #B8B8B8;
        background-color: #111111;
    }

    a:link {
        color: #4646FF;
    }

    a:visited {
        color: #9544E0;
    }

    a:link:active,
    :visited:active {
        color: #FF5959;
    }
} */