html {
    overflow-wrap: break-word;
}

html, textarea, button {
    color: #181818;
    background-color: #F2F2F2;
    font-size: 1em;
}

html, button, textarea {
    font-family: monospace;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

a:link:active,
a:visited:active {
    color: #FF0000;
}

@media (prefers-color-scheme: dark) {
    html, textarea, button {
        color: #B8B8B8;
        background-color: #111111;
    }

    a:link {
        color: #4646FF;
    }

    a:visited {
        color: #9544E0;
    }

    a:link:active,
    :visited:active {
        color: #FF5959;
    }
}
