html {
    color: #181818;
    background-color: #F2F2F2;
    overflow-wrap: break-word;
}

a:link {
    color: #0000EE;
}

a:visited {
    color: #551A8B;
}

a:link:active,
a:visited:active {
    color: #FF0000;
}

input,
textarea {
    font-family: serif;
    font-size: 1em;
    width: 240px;
    box-sizing: border-box;
    margin-bottom: 4px;
    border: 1px solid;
    color: #B8B8B8;
    background-color: #111111;
}

@media (prefers-color-scheme: dark) {
    html {
        color: #B8B8B8;
        background-color: #111111;
    }

    a:link {
        color: #4646FF;
    }

    a:visited {
        color: #9544E0;
    }

    a:link:active,
    :visited:active {
        color: #FF5959;
    }

    input,
    textarea {
        color: #B8B8B8;
        background-color: #111111;
    }
}
